@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-typewriter: var(--font-typewriter);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-typewriter), "Courier New", Courier, monospace;
  letter-spacing: 0.02em;
}
